<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>Название сайта</title>
{% load static %}
</head>
<body>
<table
border="1"
align="center"
rules="rows"
style="width:100%;">
<!--Создаём строку-->
<tr>
<!--Создаём ячейку строки-->
<td>
<table
border="1"
bgcolor= '#4285B4'
cellpadding="10"
style="width:100%; border-radius:5px;">
<!--Создаём строку таблицы-->
<tr>
<!--Создаём столбец таблицы-->
<th>
<!--Содержание ячейки столбца-->
<h1>WhyNot</h1>
<h3>Создать лучший интеллектуальный кластер товаров, работ и услуг (ТРУ) с учетом всех потребностей заказчиков и участников электронных торгов</h3>
<!--Закрываем таблицу-->
</th>
</tr>
</table>

<!--ОСНОВНОЙ КОНТЕНТ-->

<table
border="1"
bgcolor="#4285B4"
cellpadding="10"
style="width:100%; border-radius:5px;">
<!--Создаём строку-->
<tr>
<!--Создаём ячейку
Оформление:
rowspan="2" - объединяем две ячейки в одну.
Число объединяемых ячеек по числу ячеек в сайдбаре.
style="width:80%" - основной контент занимает 80% всей площади,
оставшиеся 20% для сайдбара-->
<td
rowspan="2"
style="width:50% ; height:20% ">
<h2>Что необходимо найти?</h2>
<!--Начинаем абзац с красной строки-->
<p style="text-indent:20px">
</p>

<form method="POST" action="/search">
    {% csrf_token %}
    <input type="text" name="textfield">
    
    <button type="submit">Поиск</button>
    </form>

<p style="text-indent:20px"> </p>
<!--Закрываем ячейку-->
</td>

<!--САЙДБАР-->

<!--Создаём ячейку сайдбара-->
<td bgcolor="#4285B4">
<h3>Меню</h3>
<!--Абзац для ссылки на страницу сайта-->
<p>
<!--Ссылка на страницу сайта-->
<a href="">
<!--Картинка маркера перед названием страницы--
<img src="http://trueimages.ru/img/00/06/f4fffdb5.png">
<!--Название страницы
style="margin-left:5px;" - отступ названия от маркера-->
<span style="margin-left:5px;">Выбор по стране</span></a>
<!--Закрываем абзац-->
</p>
<p>
<a href="">
<span style="margin-left:5px;">Выбор по ИНН</span;></a>
</p>
<p>
<a href="">
<span style="margin-left:5px;">Выбор по цене</span></a>
</p>
<!--Закрываем строку Меню-->
</td>
</tr>
<!--Создаём строку с дополнительной информацией-->
<tr>
<!--Ячейка с дополнительной информацией-->
<td
bgcolor="#4285B4"
align="center">
<h3>Какая-то статистика</h3>
<p></p>
<!--Закрываем ячейку с общей информацией
и таблицу основного контента-->
</td>
</tr>
</table>

<!--ПОДВАЛ-->

<!--Создаём таблицу подвала-->
<h3>Результаты поиска( Вывод БД )</h3>
<table
border="1"
bgcolor="#4285B4"
height="300"
cellpadding="10"
style="width:100%; border-radius:5px;">
<!--Создаём строку.-->

{% for contract in contracts %}
<tr>
    <th>{{ contract.id }}</th>
    <th>{{ contract.product_name }}</th>
    <th>{{ contract.price }}</th>
    <th>{{ contract.country_name }}</th>
</tr>
{% endfor %}

</table>
<!--Закрываем таблицу контейнера-->
</td>
</tr>
</table>
</body>
</html>